<section id="three">
  <div class="container">
  
    <h3>My lessons</h3>
    {# {% set lesson-description %}
    <h3>Description</h3>
    {% endset %} #}
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
  <a href="{{ entry.url | url }}">{{ entry.title }}</a>
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>

    <div class="features">
      {% for lesson in collections.lessons %}
        {% if lesson.data.public %}
          <article>
            <a href="#" class="image">
              <img src="images/{{ lesson.data.image }}" alt=""/>
            </a>
            <div class="inner">
              <h4>{{ lesson.data.title }}</h4>
              <p>
                {{ lesson.data.description }}
              </p>
            </div>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>